# CLI Helpers
alias cl='clear'
alias ll='ls -la'
alias ..='cd ..'
alias cd..='cd ..'
alias ...='cd ..'
alias now='date +"%T"'
alias sl='ls'
alias lsd="find . -maxdepth 1 -not -type d"
alias please="sudo"

# Utils
alias csv2json="python3 -c 'import csv, json, sys; print(json.dumps([dict(r) for r in csv.DictReader(sys.stdin)]))'"
alias uuid="python3 -c 'import uuid; print(uuid.uuid4())'"
alias mermaid="./node_modules/.bin/mmdc"

# Time
alias now='date +"%T"'
alias today="date +'%Y-%m-%d'"

# Git
alias gl1='git log --oneline'
alias gcam='git commit -a -m'
alias gs='git status'
alias ga='git add .'
alias gcm='git commit -m'
alias gd='git diff'
alias gds='git diff --staged'
alias gp='git push'

# Python
alias python="python3"
alias py="python"
alias pip="pip3"

# Docker
alias dcb="docker-compose build"
alias dcub="docker-compose up --build"
alias dcd="docker-compose down"
alias dcrm="docker container rm $(docker container ls -aq)"
alias dcs="docker container stop $(docker container ls -aq)"
alias drmi="docker image rm $(docker image ls -a)"
alias dils="docker image ls -a"
alias dcls="docker container ls -a"
